h3{
    color: rgb(0, 0, 0);
    transform: translate(0px,-200px);
    font-size: 400%;
    white-space: nowrap;
    -webkit-text-stroke: 1px #ffffff;
  }

h2{
    color: rgb(0, 0, 0);
    transform: translate(20px,-250px);
    font-size: 400%;
    white-space: nowrap;
    -webkit-text-stroke: 1px #ffffff;
  }

body{
  background: linear-gradient(180deg,#000000 0%, #000000 35%, #ffffff 35%, #ffffff 100%);

}

.right{
  transform: translate(0px,-10px);
}

.live>img{
  width: 50%;
  height: 30%;
  transform: translate(700px,-500px);
  border-radius: 30px;
}


.scroll-infinity__item{
    display: flex;
    margin-right: 310px;
    padding: 10px;
    border: #ffffff ;
}

  @keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-100%);
    }
    }
    .scroll-infinity__wrap {
      display: flex;
      overflow: hidden;
      
    }
    .scroll-infinity__list {
      display: flex;
      list-style: none;
      padding: 0
    }
    .scroll-infinity__list--left {
      animation: infinity-scroll-left 80s infinite linear 0.5s both;
    }
    .scroll-infinity__item {
      width: calc(100vw / 6);
    }
    .scroll-infinity__item>img {
      width: 680px;
      height: 380px;
      border-radius: 30px;
    }

    @keyframes infinity-scroll-right {
      from {
        transform: translateX(-100%);
      }
        to {
        transform: translateX(0%);
      }
      }
      .scroll-infinity__wrap {
        display: flex;
        overflow: hidden;
        
      }
      .scroll-infinity__list {
        display: flex;
        list-style: none;
        padding: 0;
      }
      .scroll-infinity__list--right {
        animation: infinity-scroll-right 80s infinite linear 0.5s both;
      }
      .scroll-infinity__item {
        width: calc(100vw / 6);
      }
      .scroll-infinity__item>img {
        width: 680px;
        height: 380px;
        border-radius: 30px;
      }

.about{
  color: red;
  font-size: 350%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 100px;
  transform: translate(0px,-130px);
}

.shokai{
  font-weight: bold;
  color: #000000;
  font-size: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 115px;
  transform: translate(0px,-130px);
}

.explain{
  border: 5px solid rgb(220, 220, 220);
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  word-wrap: normal;
  width: 400px;
  margin-left: 50px;
  height: 300px;
  transform: translate(0px,-110px);
}


.explain p{
  font-weight: lighter;
  margin: 10px;
  padding: 10px;
}


.find{
  border: 5px solid rgb(220, 220, 220);
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  word-wrap: normal;
  width: 400px;
  margin-left: 50px;
  height: 300px;
  transform: translate(100px);
}

.find p{
  margin: 100px;
}

.post{
  border: 5px solid rgb(220, 220, 220);
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  word-wrap: normal;
  width: 400px;
  margin-left: 50px;
  height: 300px;
  transform: translate(800px,-310px);
}



